```scss
.task-item {
  position: relative;
  z-index: 1;

  &:hover {
    z-index: 2;
  }
}

.task-hover-card {
  position: absolute;
  z-index: 10;
  pointer-events: auto;
  transition: opacity 0.2s ease;
  
  &--hidden {
    opacity: 0;
    pointer-events: none;
  }
}

.hover-container {
  position: relative;
  display: inline-block;
  
  &:hover .task-hover-card {
    opacity: 1;
  }
}

@mixin position-hover-card($position: 'bottom') {
  @if $position == 'bottom' {
    top: 100%;
    left: 0;
    margin-top: 8px;
  } @else if $position == 'top' {
    bottom: 100%;
    left: 0;
    margin-bottom: 8px;
  } @else if $position == 'right' {
    left: 100%;
    top: 0;
    margin-left: 8px;
  } @else if $position == 'left' {
    right: 100%;
    top: 0;
    margin-right: 8px;
  }
}

.hover-card-bottom {
  @include position-hover-card('bottom');
}

.hover-card-top {
  @include position-hover-card('top');
}

.hover-card-right {
  @include position-hover-card('right');
}

.hover-card-left {
  @include position-hover-card('left');
}
```